.img-model {
    border-radius: 50%;
    background-color: #c5d5cb;
}

body {
    margin: 60px auto;
    width: 70%;
    background: linear-gradient(90deg, #e3e0cf 50%, #ffffff 50%); 
}

nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    position: fixed;
    bottom: 0;
    width: 60%;
}

nav ul li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #666600;
    width:150px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color:#5B2E13;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}


/*ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */
