body {
    margin: 60px auto;
    width: 70%;
    background-color: #C8A56B;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-bottom: 15px;
    list-style: none;
    font-weight: bold;
    position: absolute;
    bottom: 2em;
    left: 1em;
    width: 9em 
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #F8EBD6;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color:#5B2E13;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
