html, body { height: 100%; padding: 0; margin: 0; }
div { 
	width: 100%; 
	height: 100%; 
}

body {
    margin: 0;
    background: linear-gradient(90deg, #e3e0cf 50%, #ffffff 50%); 
    background-position: center; 
    background-attachment: fixed; 
}

/* -------------------------------------- Navigation Bar ----------------------------------*/
ul{
    z-index: 100;
    list-style: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 100%;
    overflow: scroll;
}

li{
     font-family: "Times New Roman", Times, serif;
     display: inline-block;
    /*float: left; */
}

li a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #9fa8a3;
    padding: 30px; 
}

li a:hover {
    text-decoration: underline;
}

/* -----------------------------Home Page------------------------------- */
.home {

 /*   background-position: center;  */
}

.home h2 {
    color:#9fa8a3;
/*    padding: 18px; */
    padding: 2%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    animation-duration: 3s;
    animation-name: slideinr;    
}

@keyframes slideinr {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 3.5%;
  }
}

.home h4 {
    color:#9fa8a3;
 /*   padding: 12px; */
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    animation-duration: 3s;
    animation-name: slideinl;   
}

@keyframes slideinl {
  from {
    margin-right: 100%;
  }
  to {
    margin-left: 2%;
  }
}

.img-model {
    display: block;
    border-radius: 50%; 
    background-color: #c5d5cb; 
    background-position: center; 
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: main 2s;
    -moz-animation: main 2s;
    -ms-animation: main 2s;
    animation: main 2s; 
}

/* -------------Experience Page---------------------------- */
.experience {
 /*   z-index:97; */
    background-color: #c2ccd6;
 /*   opacity: 0.5;
    filter: alpha(opacity=50);  */
    position: relative;
/*    background-size: cover; */
/*    overflow: scroll; */
}

.logone {
    position: absolute;
    top: 23%;
    left: 53%;
}

.logtwo {
    position: absolute;
    top: 23%;
    left: 59%;
}

.logthree {
    position: absolute;
    top: 23%;
    left: 65%;
}

.expedu {
    position:absolute; 
    font-family: "Bradley Hand", cursive;
    color: #333; 
    background-color: #fce8e8;
    border: 2px dashed #ff9999;
    border-radius: 8px;
    top: 19%;
    left: 20%;
    width: 270px; 
    box-shadow: 10px 10px #e9e2e2;
    -webkit-animation: main 2s;
    -moz-animation: main 2s;
    -ms-animation: main 2s;
    animation: main 2s;
}

@-webkit-keyframes main {
  0% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}

.expvulfir {
    position:absolute; 
    font-family: "Bradley Hand", cursive;
    color: #333; 
    background-color: #fce8e8;
    border: 2px dashed #ff9999;
    border-radius: 8px;
    top: 53%;
    left: 20%;
    width: 270px; 
    box-shadow: 10px 10px #e9e2e2;
}

.expvulsec {
    position:absolute; 
    font-family: "Bradley Hand", cursive;
    color: #333; 
    background-color: #fce8e8;
    border: 2px dashed #ff9999;
    border-radius: 8px;
    top: 53%;
    left: 55%;
    width: 270px;
    box-shadow: 10px 10px #e9e2e2;
} 

.expfirst {
    position:absolute; 
    font-family: "Bradley Hand", cursive;
    cursor: pointer;
    color: #333; 
    background-color: #fce8e8;
    border: 2px dashed #ff9999;
    border-radius: 8px;
    top: 36%;
    left: 55%;
    width: 270px; 
    box-shadow: 10px 10px #e9e2e2;
}

.expsec {
    position: absolute;
    font-family: "Bradley Hand", cursive;
    cursor: pointer;
    color: #333; 
    background-color: #fce8e8;
    border: 2px dashed #ff9999;
    border-radius: 8px;
    top: 36%;
    left: 20%;
    width: 270px; 
    box-shadow: 10px 10px #e9e2e2;
}

.popup {
 /*   position: relative;  */
 /*   display: inline-block; */
/*    cursor: pointer;  */
}

.popsec {
    visibility: hidden;
    width: 380px; 
    background-color: #668599;
    color: #fff;
    font-family: "Bradley Hand", cursive;
    text-align: left;
    border-radius: 8px;
    padding: 8px 0;
    position: absolute;
    top: 30%;
    left: 45%;
/*    margin-left: -80px; */
}

.popsec::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(194, 225, 245, 0);
    border-right-color:  #668599;
}  

.popfirst {
    visibility: hidden;
    width: 380px; 
    background-color: #668599;
    color: #fff;
    font-family: "Bradley Hand", cursive;
    text-align: left;
    border-radius: 8px;
    padding: 8px 0;
    position: absolute;
    top: 20%;
    left: 65%;
}

.popfirst::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(194, 225, 245, 0);
    border-right-color:  #668599;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* -------------------------Resume Page-----------------------------------*/
.resume {
    background: #9e5a63;
    position: relative;
    opacity: 0.8;
}

.resumeimg {
    position: absolute;
    top: 15%;
    left: 30%;
}


/* -------------------------Contact Page-----------------------------------*/
.contact {
 /*   z-index: 95; */
    position: relative; 
 /*   background-image: url("../img/contact-bg3.png"); */
    background-size: cover; 
/*    background: rgba(0, 0, 0); */
}

.contact::after {
    content: "";
    background: url("../img/contact-bg3.png");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 95;  
}

.conimg {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 60%;
    z-index: 96;
}

.conimg:hover {
    transform: scale(1.5);
    cursor: pointer;
} 

.icon {
   position: absolute;
   top: 20%;
   left: 15%;
   z-index: 96;
}
