html, body { height: 100%; padding: 0; margin: 0; }
/* div { 
	width: 100%; 
	height: 100%; 
} */

body {
    background: linear-gradient(90deg, #e3e0cf 50%, #ffffff 50%); 
    background-position: center; 
    background-attachment: fixed; 
}

/* -------------------------------------- Navigation Bar ----------------------------------*/
.website-page ul{
    z-index: 100;
    list-style: none;
    text-align: center;
    margin: auto;
    padding-top: 60%;
    padding-left: 5%;
}

.website-page li{
    font-family: "Times New Roman", Times, serif;
}

.website-page li a {
    display: block;
    font-size: 1.2em;
    text-align: left;
    text-decoration: none;
    color: #9fa8a3;
    padding: 10px; 
}

.website-page li a:hover {
    text-decoration: underline;
}

/* -----------------------------Home Page------------------------------- */
.website-page h2 {
    color:#9fa8a3;
    padding-top: 2%;
    padding-bottom: 0.5%;
    font-family: "Times New Roman", Times, serif;
    padding-right: 5%;
    text-align: center; 
}

.website-page h4 {
    color:#9fa8a3;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 0.5% !important;
    padding-right: 7%;
}

.home-container {
    height: 70%;
    width: 65%;
    z-index: 90 !important;
    border-color: #9fa8a3 !important;
    box-shadow: #9fa8a3 !important;
    border-radius: 5%;
}

.img-model {
    /* display: block; */
    border-radius: 50%; 
    background-color: #c5d5cb; 
    background-position: center; 
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    /* -webkit-animation: main 2s;
    -moz-animation: main 2s;
    -ms-animation: main 2s;
    animation: main 2s;  */
}

/* -------------Experience Page---------------------------- */
.experience {
 /*   z-index:96; */
    background: linear-gradient(to right, #c0b283, #c0b283 33%, #dcd0c0 33%, #dcd0c0 66.6%,#f4f4f4 66.6%);
    position: relative;
}

.expimg {
    position: absolute;
    width: 100%;
    height: 55%;
/*    top: 5%;
    left: 12.5%;  */
    z-index: 96;
}

.edu {
    position: absolute;
    text-align: center;
    color: #9e5a63;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    top: 69%;
    left: 11%;
    z-index: 97;
}

.eduimg {
    position: absolute;
    opacity: 0.3;
    top: 58.5%;
    left: 12%;
    z-index: 96;
}

.eduimg:hover {
    opacity: 1;
    z-index: 98;
}

.edubut {
   position: absolute;
   top: 81%;
   left: 13%;
   z-index: 97;
}

.popedu {
    position: absolute;
    visibility: hidden;
    width: 320px; 
    background-color: #668599;
    color: #fff;
    font-family: "Bradley Hand", cursive;
    text-align: left;
    border-radius: 8px;   
    top: 52%;
    left: 5%;
    z-index: 98;
}

.popedu::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #668599 transparent transparent transparent;
}

.work {
    position: absolute;
    text-align: center;
    color: #9e5a63;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    top: 69%;
    left: 46%;
    z-index: 97;
}

.workimg {
   position: absolute;
   opacity: 0.3;
   top: 58.5%;
   left: 44%;
   z-index: 96;	
}

.workimg:hover {
   opacity: 1;
   z-index: 98;
}

.workbut {
   position: absolute;
   top: 81%;
   left: 46%;
   z-index: 97;
}

.popwork {
    visibility: hidden;
    width: 300px; 
    background-color: #668599;
    color: #fff;
    font-family: "Bradley Hand", cursive;
    text-align: left;
    border-radius: 8px;
    position: absolute;
    top: 42.5%;
    left: 38.5%;
    z-index: 98;
}

.popwork::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #668599 transparent transparent transparent;
}

.vol {
    position: absolute;
    text-align: center;
    color: #9e5a63;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    top: 69%;
    left: 77.5%;
    z-index: 97;
}

.volimg {
   position: absolute;
   opacity: 0.3;
   top: 59%;
   left: 78%;
   z-index: 96;	
}

.volimg:hover {
    opacity: 1;
    z-index: 98;
}

.volbut {
    position: absolute;
    top: 81%;
    left: 79%;
    z-index: 97;
}

.popvol {
    visibility: hidden;
    width: 300px; 
    background-color: #668599;
    color: #fff;
    font-family: "Bradley Hand", cursive;
    text-align: left;
    border-radius: 8px;
    position: absolute;
    top: 42.5%;
    left: 71.5%; 
    z-index: 98;
}

.popvol::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #668599 transparent transparent transparent;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* -------------------------Resume Page-----------------------------------*/
.resume {
    background: #9e5a63;
    position: relative;
    opacity: 0.8;
}

.resumeimg {
    position: absolute;
    top: 15%;
    left: 12%;
}

.resumeimg:hover {
    transform: scale(1.3);
} 

.popres {
    position: absolute;
    visibility: hidden;
    top: 15%;
    left: 30%;
    z-index: 98;
}

.popres:hover {
    transform: scale(1.3);
} 

/* -------------------------Project Page-----------------------------------*/
.project {
     background-color: #e8c47d;
     position: relative;
}

.prop {
     position: absolute;
     top: 25%;
     font-weight: bold;
     font-size: 2em;
     color: #e66b19;
}

/* -------------------------Contact Page-----------------------------------*/
.contact {
 /*   z-index: 95; */
    position: relative; 
 /*   background-image: url("../img/contact-bg3.png"); */
    background-size: cover; 
/*    background: rgba(0, 0, 0); */
}

.contact::after {
    content: "";
    background: url("../img/contact-bg3.png");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 95;  
}

.conimg {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 60%;
    z-index: 96;
}

.conimg:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 96;
} 

.icon {
   position: absolute;
   top: 20%;
   left: 15%;
   z-index: 96;
}
