html, body { 
    /* height: 100%;  */
    padding: 0; 
    margin: 0; 
}
/* div { 
	width: 100%; 
	height: 100%; 
} */

body {
    background: linear-gradient(90deg, #e3e0cf 50%, #ffffff 50%); 
    background-position: center; 
    background-attachment: fixed; 
}

/* -------------------------------------- Navigation Bar ----------------------------------*/
.website-navbar {
    z-index: 100;
    list-style: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 100%;
    overflow: scroll;
}

.website-navbar li{
     font-family: "Times New Roman", Times, serif;
     display: inline-block;
    /*float: left; */
}

.website-navbar li a {
    display: block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #9fa8a3;
    padding: 30px; 
}

.website-navbar li a:hover {
    text-decoration: underline;
    color: #9fa8a3;
}

.website-title {
    color:#9fa8a3;
    padding-top: 3%;
    font-family: "Times New Roman", Times, serif;
    text-align: center; 
}

.website-subtitle {
    padding-bottom: 1%;
    color:#9fa8a3;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

/* -----------------------------Section Container------------------------------- */
.section-container {
    width: 60%;
    z-index: 90 !important;
    border-radius: 3%;
    position: relative;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0 5px 15px #9fa8a3 !important;
    color: #9fa8a3 !important;
    background: rgba(204,214,208,0.6) !important;
}

/* .uk-card-default { */
    /* box-shadow: 0 5px 15px #9fa8a3 !important;
    color: #9fa8a3 !important;
    background: rgba(204,214,208,0.6); */
    /* #CCD6D0;  rgba(204,214,208,0.6) */
/* } */

/* -----------------------------Card Container------------------------------- */
.card-container {
    z-index: 90 !important;
    border-radius: 3%;
    position: relative;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0 5px 15px #9fa8a3 !important;
    color: #9fa8a3 !important;
    background: rgba(255,255,255,0.8) !important;
}

/* -----------------------------Comment Container------------------------------- */
.uk-comment-header {
    margin-bottom: 10px !important;
}

.uk-comment-intro {
    padding-left: 10px !important;
    /* text-align: center; */
}

.uk-comment-title {
    font-family: "Times New Roman", Times, serif;
    color:#89918C;
    font-size: 1.05rem !important;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.uk-comment hr {
    border-top: 1px solid #89918C !important;
    margin: 0;
}

.uk-comment-body {
    font-family: "Times New Roman", Times, serif;
    color:#89918C;
    text-align: justify;
    padding-left: 22px;
    margin-top: 20px;
}


/* -----------------------------Home Page------------------------------- */
.home {
    padding-bottom: 50px;
}

/* .home .uk-comment-header {
    margin-bottom: 10px !important;
}

.home .uk-comment-intro {
    padding-left: 10px;
    text-align: center;
}

.home .uk-comment-title {
    font-family: "Times New Roman", Times, serif;
    color:#89918C;
    font-size: 1.05rem;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.home hr {
    border-top: 1px solid #89918C;
    margin: 0;
}

.home .uk-comment-body {
    font-family: "Times New Roman", Times, serif;
    color:#89918C;
    text-align: center;
    padding-left: 22px;
    margin-top: 20px;
} */

/* .home-img {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 125px;
}

.img-model {
    border-radius: 50%; 
    background-color: #c5d5cb; 
    background-position: center; 
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* -------------Work Page---------------------------- */
.work {
    padding-bottom: 50px;
}

.work .uk-comment-body {
    padding-left: 10px;
    margin-bottom: 0;
}


/* -------------Project Page---------------------------- */
.project {
    padding-bottom: 50px;
}

.project .project-button {
    background: rgba(255,255,255,0.8);
    border-radius: 3%;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px #9fa8a3;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    width: 160px;
}

.project .uk-description-list d {
    padding-bottom: 15px;
}

.project .uk-description-list dt {
    font-size: 1em;
}

.project .uk-description-list dd {
    font-size: 0.95em;
    padding-top: 10px;
}